<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" cacheResult="false" colors="true">
	<testsuites>
		<testsuite name="test">
			<directory>src/tests/Behavioral</directory>
      <directory>src/tests/Creational</directory>
      <directory>src/tests/Structural</directory>
		</testsuite>
	</testsuites>
</phpunit>